<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href='http://e-prod-adder.herokuapp.com/css'>
    <link rel="stylesheet" href='http://e-prod-adder.herokuapp.com/manage_prod/css2'>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
  <title>Manage Product</title>
</head>
    
<div id="Mprod">
  <div class="navbar-container row" >
    <div class="col-sm-2"></div>
    <input class=" col-sm-5 form-control text2"  v-model="search" type="text" id="text2" placeholder="Search">
    <button class="col-sm-2 btn btn-success" v-if="bool2" id="myBtn" type="submit">Search</button>
    <div class="col-sm-1" v-if="!bool2"></div>
    <button class="col-sm-2 btn btn-success" v-if="!bool2" id="myBtn" type="submit">Search</button> 
    <div class="col-sm-2"></div>
  </div>
<div class="row modal"  id="myModal">
  <div class="row " >
      <div class="col-sm-2" style="float: left;"></div>
      <div    class="col-sm-6">
       <input class=" form-control" style="box-shadow: 1px 5px 7px 0 rgba(0,0,0,0.8)"  v-model="search" type="text" id="text" placeholder="Search">
        <ul style="box-shadow: 1px 5px 7px 0 rgba(0,0,0,0.8);list-style-type:none;"  class="list-group-item">
        <li  v-for="(i,i1) in list" v-if="i1<4" ><a v-bind:href="'preview?id='+i['P_ID']">{{i['name']}}</a></li>
        </ul>
      </div>
       <div class="col-sm-4" style="float: left;"></div></div>
  </div>
  <div class="navbar-container bg row">
    <ul>
            <li class="nav-link " style="margin-right: 10px">
                    <a href="/">Home</a>
                    <div class="underline"></div>
            </li>
            <li class="nav-link" style="margin-right: 10px">
                    <a  href="/cart">Cart</a>
                    <div class="underline"></div>
            </li>
            <li class="nav-link" style="margin-right: 10px">
              <a href="/add_prod">Add Product</a>
              <div class="underline"></div>
            </li>
            <li class="nav-link" style="margin-right: 10px;">
                <a  href="/add_cat">Add Category</a>
                <div class="underline"></div>
            </li>
          </li>
          <li class="nav-link active-link" style="margin-right: 10px;">
              <a href="/manage_prod">Manage Product</a>
              <div class="underline"></div>
          </li>
            <li class="nav-link"style="margin-right: 10px">
              <a href="/view_cat">View Categories</a>
              <div class="underline"></div>
            </li>
            
          </ul><br>
  </div><br>
  <h1 style="text-align: center;" >MANAGE PRODUCT </h1 style="text-align: center;" >
  <div class="row ft">
    <div class="col-sm-1"></div>
    <div class="col-sm-2"><b>Product ID <b v-if="boolgo==0" style="color:red">*</b></b></div>
    <input class=" form-control col-sm-2 ft" v-if="boolgo==0" v-model="id" v-on:keyup.enter="go()" placeholder ="Enter Product ID" ></input>
    <div class="col-sm-2" v-if="boolgo==1">{{id}}</div>
    <button type="button" class="btn btn-success col-sm-1 _3d" v-if="boolgo==0" @click='go()'><b>GO</b></button>
      <div class="col-sm-2 " ></div>
        <div class="col-sm-2" v-if="boolgo==1">Product Name </div>
        <input class=" form-control col-sm-2 ft" v-if="boolgo==1" v-model="name" placeholder ="Enter name" ></input>    
        <div class="col-sm-1"></div>
      </div>
      <div class="row" v-if="error">
        <div class="col-sm-12" style="text-align: center; color: red;"><b>INVALID  PRODUCT  ID   !   Enter  a  valid  product  id  !</b></div>
      </div>
      <div class="row" v-if="boolgo==1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Company </div>
        <input class=" form-control col-sm-2 ft" v-model="company" placeholder ="Enter Company" ></input>    
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Product Number <b style="color:red">*</b></div>
        <input class=" form-control col-sm-2 ft" v-model="pnum" placeholder ="Enter Product ID/Number" ></input>
        <div class="col-sm-1"></div>
      </div>
      <div class="row" v-if="boolgo==1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">M.R.P <b style="color:red">*</b> </div>
        <input class=" form-control col-sm-2 ft" v-model="mrp" type="number" placeholder ="Enter M.R.P" ></input>    
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Price <b style="color:red">*</b></div>
        <input class=" form-control col-sm-2 ft" v-model="price" type="number" placeholder ="Enter Price" ></input>
        <div class="col-sm-1"></div>
      </div>
  
      <br>
      <div class="row" v-if="boolgo==1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Image 1 URL <b style="color:red">*</b></div>
        <input class=" form-control col-sm-2 ft" v-model="img1" placeholder ="Enter Image 1 URL" ></input>    
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Image 2 URL </div>
        <input class=" form-control col-sm-2 ft" v-model="img2" placeholder ="Enter Image 2 URL" ></input>
        <div class="col-sm-1"></div>
      </div>
      <div class="row" v-if="boolgo==1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Image 3 URL </div>
        <input class=" form-control col-sm-2 ft" v-model="img3" placeholder ="Enter Image 3 URL" ></input>    
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Image 4 URL </div>
        <input class=" form-control col-sm-2 ft" v-model="img4" placeholder ="Enter Image 4 URL" ></input>
        <div class="col-sm-1"></div>
      </div>
      <div class="row" v-if="boolgo==1"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Description of Product </div>
        <textarea class="col-sm-2" v-model="desc"  rows="5"></textarea>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">Additional Description of Product </div>
        <textarea class="col-sm-2" v-model="desc2"  rows="5"></textarea>
        <div class="col-sm-1"></div>
      </div> 
      
  
  
      <br>
      <div class="row" v-if="boolgo==1">
        <div class="col-sm-1"></div>
          <label class="form-check-label col-sm-2"><input type="checkbox" class="form-check-input" v-model="cod">COD Available</label><div class="col-sm-2"></div>
          <label class="form-check-label col-sm-2"><input type="checkbox" class="form-check-input" v-model="retrn">10 Days Returnable</label><div class="col-sm-2"></div>
          <label class="form-check-label col-sm-2"><input type="checkbox" class="form-check-input" v-model="delivery">Delivery Possible</label><div class="col-sm-2"></div>
        <div class="col-sm-1"></div>
      </div><br><br>
      <div class="row" v-if="boolgo==1">
        <div class="col-sm-1"></div>
        <span><b><u>Add Stock</u></b></span>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <table v-if="boolgo==1" class="col-sm-10">
          <tr><th v-for="(x,x1) in fieldlist">{{x}}<b @click="sort(x1)"><span :class="clicks%2==0 ? 'arrowasc' : 'arrowdsc'" id="arrow"></span></b></th>
            <th>Quantity<b @click="sort(-1)"><span :class="clicks%2==0 ? 'arrowasc' : 'arrowdsc'" id="arrow"></span></b></th></tr>
          <tr v-for="(i1,i) in arr">
            
            <td v-for="(j2,j) in i1"><span v-if="j!=fieldlist.length">{{j2}}</span> <span v-else><input class="form-control" type="number" v-model="arr[i][j]"> </input></span></td>
          </tr>
        </table>
        </div>
        <div class="row" v-if="empty2" >
            
          <div class="col-sm-12" style="text-align: center; color: red;"><b>Mandatory Fields Empty</b></div>
    
        </div>
        <div class="row" style="display: none;" id="success" >
            
          <div  style="text-align: center; color: red;"><b>MODIFIED SUCCESSFULLY</b></div>
  
        </div>
        <br><div class="row" v-show="boolgo==1"> 
          <div class="col-sm-2"></div>
          <button type="button" class="btn btn-info col-sm-4" @click='add1()'><b>Save Details</b></button>
          <button class="btn btn-danger col-sm-4"  id="myBtn"><b>Delete Product</b></button>
          <div class="col-sm-2"></div>
        </div>
        <div class="modal2" id='myModal2'>
          <div class="modal2-content">
              <span class="close">&times;</span>
              Want to Delete {{x.name}} from Database..?
              <div class="text-center"><button @click='del(),close()' class="btn btn-primary ">YES</button>
                  <button class="btn btn-danger" @click='close()'>No</button>
              </div>
          </div>
      </div>
        


</div>
</body>
<script>
    var log=new Vue({
      el:"#Mprod",
      data:{
        search:'',list:[],actual:[],
        x:'',boolgo:0,id:'',
        name:'',mrp:'',price:'',company:'',pnum:'',
         catlist:[],
         tagname:'',
         arr:[],bool2:1,
         empty:0,
         empty2:0,
         taglist:[],
         fieldlist:[],
         clicks:0,
         modnum:[1],
         fieldname:'',
         field:'',
         dropdown:'',desc:'',desc2:'',
         boolgo:0,
         data:'',
         cod:false,retrn:false,delivery:false,
         img1:'',img2:'',img3:'',img4:'',
         error:0,
         
      },
      created:function(){
               this.load();
      },
      methods:{
            load:function(){
                   var app=this;
                   axios.get('http://e-prod-adder.herokuapp.com/manage_prod/id')
                   .then(function(Response){
                     if(Response=='null'){
                       app.error=1;
                     }
                        if(Response!='0' && Response!='null'){
                          
                          app.boolgo=1;
                          var x=$.extend(Response[0],Response[1]);
                          app.x=x;
                          app.img1=x.img1;app.img2=x.img2;app.img3=x.img3;app.img4=x.img4;
                          app.desc=x.des;app.desc2=x.ades;
                          app.cod=x.cod;app.delivery=x.delivery;app.retrn=x.retrn;
                          app.mrp=x.mrp;app.price=x.price;app.name=x.name;
                          app.pnum=x.pnum;app.name=x.name;app.company=x.company;
                          app.id=x.P_ID;app.dropdown=x.category;
                          var list=x.quantity.split(';;');
                          list.pop();
                          for(i=0;i<list.length;i++){
                            var z=list[i].split(';');
                            app.arr.push(z);
                          }
                        }
                        var link="http://e-prod-adder.herokuapp.com/add_prod/info?ct="+app.dropdown;
                        axios.get(link)
                        .then(function(Response){
                              app.fieldlist=Response.field.split(";;");
                              app.fieldlist.pop();
                          })
                   })
                   
                   axios.get('http://e-prod-adder.herokuapp.com/names')
                   .then(function(Response){
                        for(var i=0;i<Response.length;i++){
                          app.list.push(Response[i])
                        }
                         app.actual=app.list;
                       
                   })
                   
                   
                },go(){
                  app=this;
                  var st="http://e-prod-adder.herokuapp.com/manage_prod?id="+this.id;
                  window.location.href=(st);
                },searching(){
                  var arr=[];
                  
                  for(i=0;i<this.list.length;i++){
                    if(this.list[i]['name'].toLowerCase().includes(this.search.toLowerCase())){
                      arr.push(this.list[i]);
                    }
                  }
                  this.list=arr;


                },del(){
                console.log(this.id);
                $.post('/manage_prod/del',{
                    id:this.id
                  },function(data){
                  })
                
                },sort(field){
                    this.clicks++
                    this.field=field;
                    this.arr.sort(this.compare)
                    if(this.clicks%2==0){
                        this.arr.reverse(this.compare)
                    }
                },close(){
                  modal2.style.display = "none";
                },add1(){
                  if(this.pnum=='' || this.mrp=='' || this.price=='' || this.img1==''){
                    this.empty2=1;
                  }else{
                    this.empty2=0;
                  for(var i=0;i<this.arr.length;i++){
                    for(var j=0;j<this.arr[i].length-1;j++){
                      this.data=this.data+ (this.arr[i][j])+";";
                    }
                    this.data=this.data+(this.arr[i][j])+";;";
                  }
                  console.log(this.id)
                  $.post('/manage_prod/qupdate',{
                    name:this.name,id:this.id,
                    category:this.dropdown,company:this.company,
                    mrp:this.mrp,
                    price:this.price,
                    img1:this.img1,

                  },function(data){
                  })
                  
                  var _this=this;
                  $.post('/manage_prod/update',{
                    pnum:this.pnum,id:this.id,
                    des:this.desc,ades:this.desc2,
                    img2:this.img2,img3:this.img3,img4:this.img4,
                    cod:this.cod,retrn:this.retrn,delivery:this.delivery,
                    quantity:this.data,
                    field:this.fieldd,

                  },function(data){
                    if(data==1){
                        var s = document.getElementById("success");
                        s.style.display = "block";
                        
                        setTimeout(function(){
                          s.style.display = "none";
                          var st="http://e-prod-adder.herokuapp.com/preview?id="+_this.id;
                          window.location.href=(st);
                        }, 300);
                        
                      }
                  })
                }
                },compare (a, b) {
                    if(this.field!=-1){
                        var nameA = a[this.field]
                        var nameB = b[this.field]
                        
                    }else{
                        var nameA = parseInt(a[a.length-1])
                        var nameB = parseInt(b[a.length-1])
                    }   
                    if (nameA < nameB) { return -1; }
                    if (nameA > nameB) { return 1;}
                    return 0;
                }
      } 
    })
    var modal2 = document.getElementById("myModal2");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    myBtn.onclick = function () {
        modal2.style.display = "block";
    }
    span.onclick = function () {
        modal2.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }
    var modal = document.getElementById("myModal");
    var lastentry = "";
    window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
            log.bool2=1;
          }
        }
    $('#text ,#text2').keyup(function(event) {
      if($('#text ,#text2').val() != lastentry) {   
          modal.style.display = "block";
          log.bool2=0;
          if(log.search.length < lastentry.length){
            log.list=log.actual;
          }
          log.searching();   
      }
      lastentry = $('#text,#text2').val()
    });
    
    
    
</script>
</html>